# node_modules directory
node_modules/
.env.development
.env.production
build/*
repopack-output.txt
/functions/node_modules/
/functions/venv/
.firebase/
firebase-debug.log
ui-debug.log
main.cpython-312.pyc
