.container {
  background-image: url('https://pa-tu.work/storage/img/posts/651682bc9fa7e.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 9rem;
  z-index: 0;
  flex-wrap: wrap;
}