.chatroom-logs-container {
  padding: 0px 5px;
}

/* 吹き出し */
.balloon_l,
.balloon_r {
  display: flex;
  align-items: flex-start; /* 縦位置を上揃え */
  justify-content: flex-start;
  margin: 30px 0;

  /*   align-items: center; */

  /* 縦位置を真ん中揃え */
}

.balloon_r {
  justify-content: flex-end;
}

.faceicon img {
  width: 80px; /* 任意のサイズ */
  height: auto;
}

.balloon_r .faceicon {
  order: 2 !important;
  margin-left: 25px;
}

.balloon_l .faceicon {
  margin-right: 25px;
}

.says {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px; /* 最大幅は任意 */
  padding: 17px 13px 15px 18px;
  margin: 0 !important;
  line-height: 1.5;
  background: #9dd;
  border-radius: 12px;

  /* 色は任意 */

  /*   align-items: center; */
}

.says p {
  margin: 8px 0 0 !important;
}

.says p:first-child {
  margin-top: 0 !important;
}

.says::after {
  position: absolute;
  content: '';
  border: 10px solid transparent;

  /*   margin-top:-3px;  */
}

.balloon_l .says::after {
  left: -26px;
  border-right: 22px solid #9dd;
}

.balloon_r .says::after {
  right: -26px;
  border-left: 22px solid #9dd;
}

/* 追加分(form) */
.chatform input[type='text'] {
  width: 230px;
  font-size: 13pt;
  border-radius: 5px;
}

.chatform input[type='image'] {
  margin-left: 5px;
  vertical-align: middle;
}

.chatroom-logs-announce-container {
  text-align: center;
  margin: 30px 0;
}

.chatroom-logs-announce-message {
  padding: 10px 20px;
  background-color: aquamarine;
  border-radius: 5px;
  border: dashed;
}

.chatbox {
  position: fixed; /* 画面全体に固定 */
  bottom: 0;       /* 画面の一番下に配置 */
  left: 50%;       /* 水平方向の中心 */
  transform: translateX(-50%); /* 中央揃え補正 */
  width: 90%;      /* 任意: コンテナの幅を調整 */
  max-width: 600px; /* 任意: 最大幅を設定 */
  padding: 10px;   /* 任意: 内側の余白 */
  z-index: 1000;   /* 他の要素の上に表示 */
  text-align: center;
}