/* ChatRoomList.css */
.chatroom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 上部に配置 */
    background-color: #fff5f5; /* 赤系の背景色 */
    min-height: 100vh;
    width: 90%;
    max-width: 800px; /* コンテナの最大幅 */
    margin: 0 auto; /* 横方向の中央寄せ */
    text-align: center; /* テキスト中央寄せ */
  }

  .chatroom-logs-container {
    width: 90%;
  }
  
  .chatroom-title {
    font-size: 2rem;
    color: #b30000;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .chatroom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 横中央寄せ */
    gap: 20px; /* ボタン間のスペース */
  }

  .room-button {
    background-color: #ff4d4d;
    color: #fff;
    padding: 25px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
  }
  
  .room-button:hover {
    background-color: #e60000;
  }
  
  .room-button .user-count {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 5px;
    color: #ffcccc;
  }

  .chatform input[type='text'] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
  }

  .chatbox {
    margin: 15px 0;
    text-align: center;
  }

  .room-full .room-button {
    background-color: #cccccc; /* Gray background for full rooms */
    cursor: not-allowed;
    color: #666666;
  }
  
  .room-button.disabled {
    pointer-events: none;
    background-color: #cccccc;
    color: #666666;
  }

  .room-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 幅を広げて中央寄せ */
    max-width: 160px; /* ボタンの最大幅 */
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* スマートフォン対応 */
  @media (max-width: 768px) {
    .chatroom-list {
      grid-template-columns: 1fr; /* SP用の1列配置 */
      gap: 15px; /* スマホでの余白調整 */
    }
    .chatroom-container {
      all: unset;
    }
    .chatroom-logs-container {
      width: 100%;
    }
    .chatform input[type='text'] {
      width: 300px;
    }
}
  
  @media (min-width: 1024px) {
    .room-button {
      padding: 30px 20px; /* PC画面サイズでの縦方向パディングも増加 */
      max-width: 200px;
      font-size: 1.2rem;
    }
  }